<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-sky-50">
    <div class="content flex justify-center items-center min-w-screen min-h-screen">
        <div class="bg-sky-200 px-4 py-2 rounded-md">
            <h1 class="text-center font-bold text-zinc-500 mb-3 text-xl">Вход</h1>
            <div class="9/10">
                <div class="flex flex-col">
                    <input class="border 1px gray px-1 py-2" name="email" type="text" placeholder="Email">
                    <input class="border 1px gray px-1 py-2" name="password" type="password" placeholder="Password">
                </div>
                <button class="mt-2 w-full bg-indigo-600 py-2 rounded-md text-white font-bold">Войти</button>
            </div>
            <div>
                <p class="text-zinc-500">Хотите создать аккаунт?<a class="text-indigo-600 hover:text-indigo-700" href="/reg">Зарегистрироваться</a></p>
            </div>
        </div>
    </div>
</body>
</html>